Flask==0.12.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
cython>=0.22.1
idna==2.6
itsdangerous==0.24
matplotlib
numpy==1.14.2
pandas
pyaudio>=0.2.8
pydub==0.20.0
requests==2.18.4
scipy>=0.16
tensorflow
urllib3==1.22
