body {
    font-family: 'Roboto', sans-serif;
}

audio {
    width: 800px;
}

#interface {
    text-align: center;
    border-radius: 8px;
}

#canvas {
    display: inline-block;
}

#canvas {
    vertical-align: middle;
}

#next-submit-button {
    margin: 30px 10px 10px 10px;
}

#instructions {
    font-size: 12pt;
}

#instruction {
    padding: 8px;
}

#controls {
    font-size: 12pt;
}

#loop_label {
    vertical-align: middle;
}

.pad-top-80 {
    padding-top: 80px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-20 {
    padding: 20px;
}

.navbar-fixed-bottom {
    background-color: #cccc;
}

.pad-10 {
    padding: 10px;
}

#experiment_id.code {
    font-size: small;
    font-family: 'Lucida Console', Monaco, monospace;
}

.hidden {
    visibility: hidden;
}

#consent {
    font-size: medium;
}
