audio {
    width: 800px;
}

#interface {
    background: #eee;
    text-align: center;
}

#canvas {
    display: inline-block;
}

#canvas {
    vertical-align: middle;
}

#loop_label {
    vertical-align: middle;
}

.pad-10 {
    padding: 10px;
}
