body {
    font-family: 'Roboto', sans-serif;
}

audio {
    width: 800px;
}

#interface {
    text-align: center;
    border-radius: 8px;
}

#canvas {
    display: inline-block;
}

#canvas {
    vertical-align: middle;
}

#loop_label {
    vertical-align: middle;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-10 {
    padding: 10px;
}
