<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}"/>
  <script src="https://use.fontawesome.com/195da3f5aa.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/konvajs/konva/1.7.6/konva.min.js"></script>
  <script src="{{ url_for('static', filename='mousetrap.min.js') }}"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rhythmic Grouping</title>
</head>
<body>

<div class="container">
  <div id="instructions" class="row pad-top-20">
    <h3>Instructions</h3>
    <div class="alert alert-warning">
      <p>
        Press play to hear the clip.
        Indicate the beginning of a group,
        which may or may not occur simultaneously with an accented note,
        by placing a marker at the start of the group.
        Repeat these steps for each group that you perceive.
        Indicate more prominent groupings with the large circle and less prominent groupings with the small circle.
        When you are satisfied with your response, press "Next".
        When you are finished with all the clips, the "Submit" button will appear.
        Click the "Submit" button to end the experiment.
      </p>
    </div>
  </div>
  <div class="text-center">
    <button id="confirm" class="btn btn-primary" onclick="show_interface()">Yes, I have read the instructions</button>
  </div>
  <div id="interface" class="row">
    <div class="row pad-top-20" id="controls">
      <button id="pause_play_button" class="btn btn-sm btn-default" onclick="play_pause()">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <div id="canvas"></div>
    </div>
    <div class="row">
      <audio id="audio">
        <source id="audio_source" type="audio/mpeg">
      </audio>
    </div>
    <p id="progress_indicator">Sample 1/10</p>
    <div class="pull-right">
      <button id="next-submit-button" type="button" class="btn btn-primary" onclick="next_submit();">Next</button>
    </div>
  </div>
  <div id="controls" class="row pad-top-10">
    <h3>Controls</h3>
    <div class="well">
      <ul>
        <li><i class="fa fa-windows"></i> /⌘<code> + click</code> to add new marker</li>
        <li><code>click + drag</code> to move the marker</li>
        <li><code>shift + click</code> to delete a marker</li>
        <li><code>alt + click</code> to toggle marker size</li>
      </ul>
      Keyboard Commands
      <ul>
        <li><code>a</code> or <code>space</code> to pause/play</li>
        <li><code>s</code> to add new marker</li>
        <li><code>d</code> to scrub backwards 1 second</li>
      </ul>
    </div>
  </div>
</div>
</body>

<script>
  let samples = {{samples|safe}};
  let experiment_id = "{{experiment_id|safe}}";
  let next_href = "{{next_href}}";
</script>
<script src="{{url_for('static', filename='interface.js')}}"></script>

</html>
