<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}"/>
  <title>Manage</title>
</head>
<body>

<div class="container">
  <br>
  <div class="row">
    <div class="well pad-10">
      <h3 class="pad-10">Select samples you want to use in the study:</h3>
      <br>
      Click the checkboxes for samples that should be moved from the the list of possible samples to the live study
      database.
      When you click commit changes, it will actually change the contents of the database, so be careful!!
    </div>
  </div>
  <div class="row" style="margin-bottom:100px">
    <h3>All Available Samples</h3>
    <ul class="list-group" id="input_samples">
    </ul>
  </div>
</div>
<footer class="navbar-fixed-bottom">
  <div class="pull-right pad-20">
    <button id="download_button" class="btn btn-md btn-default" onclick="download();">Download index.txt</button>
    <button id="update_button" class="btn btn-md btn-success" onclick="update();">Commit Changes to Database</button>
  </div>
</footer>
</body>
<script src="{{url_for('static', filename='manage.js')}}"></script>
<script>
  samples = {{samples|safe}}
  db_samples = {{db_samples|safe}}
</script>
</html>
