<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <br>
    <br>
    <br>
    <h2>Thanks! We've recorded your responses.</h2>
    <br>
    <br>
    <p> Please paste your MTurk ID below to receive approval and payment.</p>
    <form id="form">
      <input id="worker_id" type="text" name="worker_id">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
</body>
<script>

$("#form").submit(function (e) {
    e.preventDefault();

    // HTTP POST to amazon
    let request = new XMLHttpRequest();
    let workerId = $("#worker_id").val();
    let url = "{{submit_url}}";
    // we still need to append workerId
    url += "&workerId=" + workerId;
    request.open('POST', url, true);
    request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    request.send();

    window.location.href = "thankyou?";
})

</script>
</html>
