<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='common.js')}}"></script>
    <script src="{{url_for('static', filename='external_hit.js')}}"></script>
    <title>Rhythmic Grouping</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <br>
        <br>
        <br>
        <h2>We've recorded your responses. Thank you for contributing to our research!</h2>
        <br>
        <br>
        <form name='mturk_form' method='post' id='mturk_form' action='https://www.mturk.com/mturk/externalSubmit'>
          <input type='hidden' value='{{assignment_id}}' name='assignmentId' id='assignmentId'/>
          <input type='hidden' value='{{experiment_id}}' name='experimentId' id='experimentId'/>
          <span>Worker Id: </span><input type="text" name="workerId" id="workerId"/>
          <br>
          <br>
          <input type='submit' id='submitButton' value='Submit HIT' />
        </form>
        <script language='Javascript'>turkSetAssignmentID();</script>
      </div>
    </div>
  </body>
</html>
