<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='common.js')}}"></script>
    <title>Rhythmic Grouping</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <br>
        <br>
        <br>
        <h2>Thanks! We've recorded your responses.</h2>
        <br>
        <br>
        <form name='mturk_form' method='post' id='mturk_form' action='https://www.mturk.com/mturk/externalSubmit'>
          <input type='hidden' value='{{assignment_id}}' name='assignmentId' id='assignmentId'/>
          <input type='hidden' value='{{experiment_id}}' name='experimentId' id='experimentId'/>
          <p> Please paste your MTurk Worker ID below to receive approval and payment.</p>
          <input type='text' name='turker_id' placeholder='Worker ID'>
          <input type='submit' id='submitButton' value='Submit' />
        </form>
      </div>
    </div>
  </body>
</html>
