<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <br>
    <br>
    <br>
    <h2>Thank you so much! You've labeled all the available samples.</h2>
    <img src="https://media.giphy.com/media/IcGkqdUmYLFGE/giphy.gif"/>
    <br>
  </div>
</div>
</body>
</html>
