<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <br>
    <br>
    <br>
    <h2>Welcome to the musical grouping study.</h2>
    <br>
    <br>
    <p>In this task, you will:</p>
    <ol>
      <li>Complete a brief survey about your musical background</li>
      <li>Identify groupings in a few short musical excerpts</li>
    </ol>
    <br>
    <a id="begin_button" class="btn btn-primary">Begin Survey</a>
  </div>
</div>
</body>
<script>
let id = generateTrialID();
$("#begin_button").attr('href', "survey?trial-id=" + id);
</script>
</html>