<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <p id="consent">
      Informed Consent Agreement for Participation in a Research Study
      <br>
      <br>
      <center>
      <strong>
        This study will take ~30 minutes to complete.
      </strong>
      </center>
      <br>
      <br>
      The purpose of this study is to determine how listeners perceive musical groupings. You will listen to a number of
      musical excerpts and indicate the beginnings of perceived groups. By participating, you are contributing to an
      effort to better understand how our perceptual and cognitive mechanisms work, which can be used in the development
      of new musical technologies. The experiment should last about 15 minutes. As long as the volume is kept to a
      reasonable level, there should be few risks in the experiment.
      <br>
      <br>
      Participants will be identified only by a randomly-generated ID in the data. If you are participating in this
      study via Amazon Mechanical Turk, you MTurk ID will also be stored, which can be linked to personal information.
      MTurk ID’s will be stored on a password-protected computer and will not be published. Any publication or
      presentation of the data will not identify you.
      <br>
      <br>
      For more information about this research or about the rights of research participants, contact:
      <br>
      Professor Scott Barton, 774.420.4357, sdbarton@wpi.edu
      <br>
      IRB Chair Professor Kent Rissmiller, 508.831.5019, kjr@wpi.edu
      <br>
      University Compliance Officer Jon Bartelson, 508.831.5725, jonb@wpi.edu
      <br>
      <br>

      Your participation in this research is voluntary. You may decide to stop participating in the research at any
      time, though the experiment must be completed to the best of your abilities in order to receive payment. The
      project investigators retain the right to cancel or postpone the experimental procedures at any time they see fit.
      <br>
      <br>

      <strong>
        By clicking “Accept and Continue” below, you acknowledge that you have been informed about and consent to be a
        participant in the study described above.
      </strong>

    </p>
    <br>
    <a id="begin_button" class="btn btn-primary" href="{{next_href}}">Accept and Continue</a>
  </div>
</div>
</body>
</html>
