<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <p>Please fill out this google form so we can manually award you credit for participating in this study. This data is in no way associated with the rest of the study and will be deleted at the end of the term.</p>
    <br>
    <a href="https://goo.gl/forms/XxA6D86GuLXhwZm33">Click here to fill out the Participant Pool Form</a>
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-primary" href="welcome">Continue to the Study</a>
  </div>
</div>
</body>
</html>
